div#suggestions 
{
	float: left;
	width: 160px;
	height: 20%;
	background: lightblue;
}

div#contacts 
{
	float: right;
	width: 300px;
	height: 35%;
	background: burlywood;
}

div#actualites
{
	margin-left: 170px;
	margin-right: 310px;
	height: 80%;
	overflow: hidden;
	background: khaki;
}


	